/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header {
  display: flex;
  padding: 10px;
}

input[type="text"] {
  border-width: 1px;
  border-style: solid;
}

input[type="text"]:focus {
  outline: none;
}

.status--message {
  flex: 1;
  padding: 0 .4em;
}

.status--disconnected .status--message {
}


.output {
  flex: 1;
  overflow-y: scroll;
  padding: .8em;
}

.command {
  display: flex;
  align-items: center;
  padding: .8em;
  border-width: 1px 0 0;
  border-style: solid;
}

.command input {
  flex: 1;
  padding: .25em;
  margin-right: .6em;
  font-size: 1.2em;
}

.command button {
  padding: .8em;
}
